:root {
    /*Colors*/
    --color1: #607d0f;
    --color2: #799528;
    --color3: #92ae40;
    --color4: #aac659;
    --color5: #c3de71;

    --color-filter-blur: #607d0f90;
    --color-filter-blur-2: #00000090;
    --color-filter-blur-3: #fbffed70;
    
    --text-color-dark: #161616;
    --text-color-light: #fbffed;

    /*Text*/
    /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

    /*General*/
    --logo-size: 3rem;
    --padding-x: 2rem;
    --padding-y: 0.5rem;
    --general-padding: 1rem;
    --header-height: calc(var(--logo-size) + (var(--padding-y) * 2));
}

html {
    box-sizing: border-box;
    font-size: var(--step--1);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color-dark);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

p {
    text-align: justify;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 13rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: var(--header-height) auto auto;
    grid-template-areas: 
    "header     header      header      header      header      header      header     header      header      header      header      header"
    "main       main        main        main        main        main        main       main        main        main        main        main"
    "footer     footer      footer      footer      footer      footer      footer     footer      footer      footer      footer      footer";

    background-color: var(--color1);
}

[id] {
    scroll-margin-top: var(--header-height);
}

.section {
    width: 100%;
}

.hero-image {
    width: 100%;
    min-height: inherit;
    background-image: url('../images/tmnt3.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-image-container {
    width: 100%;
    min-height: inherit;
    background-color: var(--color-filter-blur-2);
    display: flex;
    flex-direction: column;
}

.content {
    --content-margin: .3rem;
    padding: var(--general-padding);
    border-radius: .5rem;
    margin-bottom: var(--content-margin);
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
    position: relative;
    background-color: var(--color-filter-blur-3);
    backdrop-filter: blur(.4rem);
    color: var(--text-color-light);
}

.hero-image-container section:first-child > .content {
    margin-top: var(--content-margin);
}

.card {
    --padding-card: 1rem;
    --border-radius-card: .5rem;
    background-color: var(--text-color-light);
    width: 100%;
    padding: var(--padding-card);
    border-radius: var(--border-radius-card);
    margin-bottom: .5rem;
    color:var(--text-color-dark);
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0;
}

.card-container form input,
.card-container form textarea {
    margin-bottom: 1rem;
    margin-top: .2rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-bottom: medium solid var(--color4);
    font-family: inherit;
    background-color: var(--text-color-light);
}

.card-container form textarea {
    resize: none;
}

.card-container form * {
    width: 100%;
}

.card-container form div {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}

.card-container form div button {
    flex: 1;
    border-radius: .3rem;
    padding: .5rem 0;
}

.card-image {
    display: flex;
    overflow: hidden;
    position: relative;
    border-top-left-radius: var(--border-radius-card);
    border-top-right-radius: var(--border-radius-card);
}

.card-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, transparent 60%, var(--text-color-light));
}

.card-content {
    justify-content: center;
    align-content: center;
}

/*######################## This is to the sticky header ##################################*/

.header {
    grid-area: header;
    padding: var(--padding-y) var(--padding-x);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    transition: box-shadow 0.3s linear;
    z-index: 1;
}

.header::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    backdrop-filter: blur(.4rem);
    background-color: var(--color-filter-blur);
}

.header.scrolled {
    box-shadow: 0 .2rem .5rem .02rem #0009;
}

/*#################################################################################*/
/*##################### This is to the profile/logo image #########################*/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 50%;
    box-shadow: 0 0 .5rem .02rem #0009;
}

/*#################################################################################*/
/*##################### This is to the name #######################################*/

.name {
    font-weight: bold;
    color: var(--text-color-light);
    margin-left: var(--padding-x);
    text-align: center;
    display: none;
}

/*#################################################################################*/
/*##################### This is to the canvas menu ################################*/

.off-canvas-logo {
    --burguer-size: 1.5rem;
    --burger-spacing: calc((var(--burguer-size) / 5));
    --burger-radius: calc(var(--burger-spacing) / 2);

    position: relative;
    width: calc(var(--burguer-size) * 1.5);
    height: var(--burguer-size);
    margin-left: var(--padding-x);
    flex-grow: 0;
    flex-shrink: 0;
}

.off-canvas-btn {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
}

.off-canvas-burger {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--burger-spacing);
    border-radius: var(--burger-radius);
    transform: rotate(0deg) translate(0, calc(var(--burger-spacing) * 2.45));
    transition: transform .3s ease background-color .3s ease;
    transform-origin: top left;
    z-index: -1;
    background-color: var(--text-color-light);
    box-shadow: 0 0 .5rem .02rem #0009;
}

.off-canvas-burger::before,
.off-canvas-burger::after {
    content: "";
    display: block;
    width: 100%;
    height: var(--burger-spacing);
    border-radius: var(--burger-radius);
    background-color: var(--text-color-light);
    transition: transform .3s ease;
    box-shadow: 0 0 .5rem .02rem #0009;
}

.off-canvas-burger::before {
    transform: rotate(0deg) translate(0, calc(var(--burger-spacing) * -2));
}


.off-canvas-burger::after {
    transform: rotate(0deg) translate(0, var(--burger-spacing));
}

.off-canvas-btn:checked + .off-canvas-burger {
    background-color: transparent;
    box-shadow: none;
}

.off-canvas-btn:checked + .off-canvas-burger::before {
    transform: rotate(45deg) translate(calc(var(--burger-spacing) / 1.5));
}

.off-canvas-btn:checked + .off-canvas-burger::after {
    transform: rotate(-45deg) translate(calc(var(--burger-spacing) / 1.3));
}

.off-canvas-menu {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-filter-blur-2);
    transform: translate(0, calc(-1 * (100% + var(--header-height))));
    transition: transform .3s ease;
    z-index: -2;
}

.off-canvas-btn:checked ~ .off-canvas-menu {
    transform: translate(0, 0);
}

.off-canvas-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
}

.off-canvas-menu-container::-webkit-scrollbar {
    display: none;
}

.off-canvas-link {
    width: 100%;
    padding: var(--general-padding);
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-light);
    transition: color .3s ease;
    text-decoration: none;
}

.off-canvas-link:hover {
    color: var(--text-color-dark);
}

.off-canvas-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: var(--color4);
    transition: width .3s ease, left .3s ease;
    z-index: -1;
}

.off-canvas-link:hover::before {
    width: 100%;
}

.to-center::before {
    left: 50%;
}

.to-center:hover::before {
    left: 0;
}


/*#############################################################################################*/

.main {
    grid-area: main;
    /*background-color: var(--color5);*/
    background-color: var(--text-color-light);
}

.footer {
    grid-area: footer;
    padding: var(--general-padding) var(--padding-x);
    color: var(--text-color-light);
    text-align: center;
    font-size: smaller;
}

.footer p {
    text-align: center;
    margin: .1rem;
}

.footer div {
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--text-color-light);
    transition: color .3s ease;
}

.icon:hover {
    color: var(--text-color-dark);
}

.div {
    height: 500px;
}

/*#####################################################################*/
/*##################### Meadia Queries ################################*/

@media screen and (min-width: 238px) {
    .name {
        display: block;
    }
}

@media screen and (min-width: 576px) {
    .card-image {
        width: 40%;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius-card);
    }

    .card-image::before {
        background-image: linear-gradient(to right, transparent 60%, var(--text-color-light));
    }

    .card-image img {
        object-fit: cover;
        object-position: center;
    }

    .card-content {
        width: 60%;
        padding: 0 var(--padding-card);
    }
}

@media screen and (min-width: 768px) {
    .off-canvas-logo {
        position: static;
        width: auto;
        height: 100%;
        margin-left: var(--padding-x);
        flex-grow: 0;
        flex-shrink: 0;
    }

    .off-canvas-btn {
        display: none;
    }

    .off-canvas-burger {
        display: none;
    }

    .off-canvas-burger::before,
    .off-canvas-burger::after {
        display: none;
    }

    .off-canvas-menu {
        position: static;
        width: auto;
        height: 100%;
        display: block;
        transform: translate(0, 0);
        background-color: transparent;
        z-index: 0;
    }

    .off-canvas-menu-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .off-canvas-link {
        width: auto;
    }

    .off-canvas-link:hover::before {
        border-radius: 50px;
    }

}

@media screen and (min-width: 1200px) {
    :root {
        --logo-size: 6rem;
        --padding-y: 1rem;
    }

    body {
        grid-template-columns: var(--logo-size) var(--logo-size) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "header     header      main      main        main        main        main        main        main        main        main        main"
        "header     header      main      main        main        main        main        main        main        main        main        main"
        "header     header      footer    footer      footer      footer      footer      footer      footer      footer      footer      footer";
    }

    [id] {
        scroll-margin-top: 0;
    }

    .hero-image {
        background-position: calc(var(--logo-size) * 2) 0;
    }

    .header {
        width: calc(var(--logo-size) * 2);
        height: 100%;
        padding: var(--padding-y) 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: .2rem 0 .5rem .02rem #0009;
    }

    .header.scrolled {
        box-shadow: .2rem 0 .5rem .02rem #0009;
    }

    .logo {
        margin-bottom: var(--padding-y);
    }

    .logo img{
        z-index: 1;
    }

    .off-canvas-logo {
        width: 100%;
        height: calc(100% - (var(--logo-size) + 1rem + (var(--padding-y) * 3)));
        align-self: center;
        margin: 0 auto;
        flex-shrink: 1;
    }

    .off-canvas-menu-container {
        width: 100%;
        height: 100%;
        display: block;
        overflow-y: auto;
    }

    .off-canvas-link:hover::before {
        border-radius: 0;
    }

    .name {
        margin: var(--padding-y) auto;
    }

}